# JUMPlus Project 2 - Marvel characters data analysis

## 1. Import required library

In [5]:
import pandas as pd

## 2. Read CSV

In [6]:
df = pd.read_csv('characters_stats.csv')
df

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292
610,Zoom,bad,50,10,100,28,72,28,288

## 3. Show first records from csv

In [10]:
df.head()

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

## 4. Show number of rows and columns

### Option 1: use info()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          611 non-null    object
 1   Alignment     608 non-null    object
 2   Intelligence  611 non-null    int64
 3   Strength      611 non-null    int64
 4   Speed         611 non-null    int64
 5   Durability    611 non-null    int64
 6   Power         611 non-null    int64
 7   Combat        611 non-null    int64
 8   Total         611 non-null    int64
dtypes: int64(7), object(2)
memory usage: 43.1+ KB

### Option 2: use len()

In [18]:
print("Number of columns: ", len(df.columns))
print("Number of rows: ", len(df))

Number of columns:  9
Number of rows:  611

### Use size will return the total number of cells in the df

In [61]:
df.size    #columns=9, rows=611 --> size=9*611

5499

## 5. You need to find the values of alignment, can use value_counts()

### Correct answer: Use value_counts() to show the unique values ad their number of occurance

In [27]:
df['Alignment'].value_counts()

good       432
bad        165
neutral     11
Name: Alignment, dtype: int64

### Use nunique() will only show number of unique values

In [28]:
df['Alignment'].nunique()

3

### Use count() to count non-null values, use size to count values including nulls

In [30]:
print(df['Alignment'].count())   #count non-null values
print(df['Alignment'].size)      #count all values

608
611

### Use pd.agg() (new in pandas 0.20.0)

In [36]:
df.agg(['count','size','nunique'])

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
count,611,608,611,611,611,611,611,611,611
size,611,611,611,611,611,611,611,611,611
nunique,610,3,19,57,42,42,93,38,262

## 6. Find out only good alignment holders superheroes

In [44]:
df1 = df.loc[df['Alignment']=='good']
df1

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
6,Adam Monroe,good,63,10,12,100,71,64,320
...,...,...,...,...,...,...,...,...,...
604,X-Man,good,88,53,53,95,92,84,465
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292

## 7. Show first five records which you found in point 6

In [45]:
df1.head(6)

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
6,Adam Monroe,good,63,10,12,100,71,64,320
7,Adam Strange,good,1,1,1,1,0,1,5

## 8. Show top five records having top speed of heroes of good alignment

In [53]:
df1.sort_values(by='Speed', ascending=False).head(5)

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
231,Flash III,good,63,10,100,60,83,32,348
304,Jack of Hearts,good,63,55,100,30,70,30,348
295,Impulse,good,50,10,100,60,63,60,343
525,Stardust,good,88,85,100,110,100,85,568
447,Quicksilver,good,63,28,100,60,57,56,364

## 9. Show 5 records of super heroes who have maximum power of good alignment

In [54]:
df1.sort_values(by='Power', ascending=False).head(5)

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
609,Zatanna,good,75,10,23,28,100,56,292
546,Thor,good,69,100,92,100,100,85,546
511,Spawn,good,75,60,50,90,100,95,470
69,Beta Ray Bill,good,63,80,35,95,100,84,457
70,Beyonder,good,88,100,23,100,100,56,467

## 10. Find out how many super heroes are there with power 100 of good alignment

### Option 1: Use count()

In [70]:
df1.loc[df['Power']==100].count()    
#Attention: Here we use 100 as integer, not string, as integer is the data type for the Power column
#If we use '100' instead of 100, it'll throw an error

Name            33
Alignment       33
Intelligence    33
Strength        33
Speed           33
Durability      33
Power           33
Combat          33
Total           33
dtype: int64

### Option 2: Use len()

In [71]:
len(df1.loc[df1['Power']==100])

33

## 11. Shape them what you got in point 10

In [ ]:
#huh???

## 12. Show all records from point 10

In [72]:
df1.loc[df['Power']==100]

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
69,Beta Ray Bill,good,63,80,35,95,100,84,457
70,Beyonder,good,88,100,23,100,100,56,467
85,Black Bolt,good,75,67,100,84,100,56,482
129,Cable,good,88,48,23,56,100,80,395
185,Deadman,good,50,10,33,100,100,42,335
196,Doctor Fate,good,81,16,25,80,100,50,352
198,Doctor Strange,good,100,10,12,84,100,60,366
204,Dr Manhattan,good,88,32,42,95,100,42,399
226,Firestorm,good,50,53,58,56,100,42,359
251,Goku,good,56,100,75,90,100,100,521
266,Hal Jordan,good,63,90,53,64,100,56,426
294,Iceman,good,63,32,53,100,100,64,412
299,Iron Man,good,100,85,58,85,100,64,492
306,Jean Grey,good,100,80,67,100,100,70,517
327,Kilowog,good,81,90,53,42,100,80,446
361,Martian Manhunter,good,100,100,96,100,100,85,581
362,Marvel Girl,good,63,85,47,42,100,80,417
383,Miss Martian,good,63,85,58,100,100,45,451
408,Naruto Uzumaki,good,50,80,32,80,100,100,442
417,Nova,good,100,85,67,101,100,85,538
418,Nova,good,38,60,100,100,100,25,423
419,Offspring,good,50,10,35,99,100,56,350
433,Phoenix,good,100,80,67,100,100,70,517
435,Plastic Man,good,50,63,23,100,100,56,392
487,Shadow King,good,75,12,27,100,100,75,389
499,Silver Surfer,good,63,100,84,101,100,32,480
511,Spawn,good,75,60,50,90,100,95,470
525,Stardust,good,88,85,100,110,100,85,568
546,Thor,good,69,100,92,100,100,85,546
547,Thor Girl,good,75,83,70,84,100,70,482
583,War Machine,good,63,80,63,100,100,85,491
589,Watcher,good,100,80,67,89,100,56,492
609,Zatanna,good,75,10,23,28,100,56,292

## 13. Retrieve total of first five records of max power of good alignment super heroes

In [74]:
df2 = df1.sort_values(by='Power', ascending=False).head(5)
df2

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
609,Zatanna,good,75,10,23,28,100,56,292
546,Thor,good,69,100,92,100,100,85,546
511,Spawn,good,75,60,50,90,100,95,470
69,Beta Ray Bill,good,63,80,35,95,100,84,457
70,Beyonder,good,88,100,23,100,100,56,467

## 14. Draw a bar plot of all super heroes who are having good alignment and max power of top five only, take same object of point 13, show name and total in plot with green bars

## 15. Extract villains having bad alignment

## 16. Show first five records of point 15

## 17. Show top five fastest super villains in terms of super speed

## 18. Top five super villains in terms of intelligence

## 19. Show who is most dangerous super villain after calculating their total (top 5 only)

## 20. Draw a histogram for speed of super heroes having fig size 10,5 , provide speed in histogram for only good alignment super heroes ,title should be "distribution of speed" , xlabel should be "speed"

## 21. Draw a histogram for combat of super villains having fig size 10,5 , provide combat in histogram for only bad alignment super heroes ,title should be "distribution of combat" , xlabel should be "combat"